@model IEnumerable<Metadados.Models.Pipeline>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nom_pipeline)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom_pipeline)
            </td>
         

            <td>
                <a asp-action="Edit" asp-route-id="@item.sky_pipeline">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.sky_pipeline">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.sky_pipeline">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}