@model IEnumerable<Metadados.Models.Objeto_configuracao>

@{
    ViewData["Title"] = "Index";
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.sky_objeto_tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dsc_delimitador_coluna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dsc_delimitador_detalhe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dsc_qualificador_texto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dsc_encode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.num_pular_linha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sky_objeto_tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dsc_delimitador_coluna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dsc_delimitador_detalhe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dsc_qualificador_texto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dsc_encode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.num_pular_linha)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.sky_objeto_configuracao">Edit</a>
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.sky_objeto_configuracao">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<input class="btn btn-primary" type="button" value="Create" onclick="location.href='@Url.Action("Create", "Objeto_configuracao")'" />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}