@model IEnumerable<Metadados.Models.Objeto>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a  asp-area="" asp-controller="Objeto" asp-action="Create" class="nav-link" >Adicionar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Sobre entidade</a>
          </li>
        </ul>
      </div>
    </nav>
    <br /><br />

    <table class="table table-striped table-bordered" id="myTable" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.sky_objeto_configuracao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sky_objeto_localizacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nom_objeto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nom_compactacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nom_tabela)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nom_entidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dsc_coluna_ranges)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.sky_objeto_configuracao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sky_objeto_localizacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nom_objeto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nom_compactacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nom_tabela)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nom_entidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dsc_coluna_ranges)
                    </td>
                    <td>
                        <div class="row mb-3">
                            <div class="col-sm-2" style="white-space: nowrap;">
                                <button type="button" asp-action="Edit" asp-route-id="@item.sky_objeto" class="btn btn-primary btn-sm">Editar</button> 
                                <button type="button" asp-action="Delete" asp-route-id="@item.sky_objeto" class="btn btn-danger btn-sm">Deletar</button>
                            </div>
                        </div>
                    </td>
                </tr>

            }

        </tbody>

    </table>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");

}

}