@model IEnumerable<Metadados.Models.Objeto>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

    <table class="display" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.sky_objeto_configuracao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sky_objeto_localizacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nom_objeto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nom_compactacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nom_tabela)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nom_entidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dsc_coluna_ranges)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.sky_objeto_configuracao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sky_objeto_localizacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nom_objeto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nom_compactacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nom_tabela)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nom_entidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dsc_coluna_ranges)
                    </td>
                    <td>
                        <div class="row mb-3">
                            <div class="col-sm-2">
                                @* <button class="btn btn-primary" asp-action="Edit" asp-route-id="@item.sky_objeto">Edit</button>*@
                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.sky_objeto">Edit</a>
                                @* <button class="btn btn-primary" asp-action="Details" asp-route-id="@item.sky_objeto">Details</button>*@
                                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.sky_objeto">Delete</a>

                            </div>
                        </div>
                    </td>
                </tr>

            }

        </tbody>

    </table>

@*<a class="btn btn-primary" asp-action="Create">Create New</a>*@
<input class="btn btn-primary" type="button" value="Create" onclick="location.href='@Url.Action("Create", "Objeto")'" />
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");

}

}